name: Build to Android

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/workflows/**'
  pull_request:
    branches:
      - main

jobs:
  buildAndroid:
    name: Build Android
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true
      - name: Cache Unity Library
        uses: actions/cache@v3
        with:
          path: Library
          key: Library-Android
          restore-keys: Library-Android

      - name: Build Android
        uses: game-ci/unity-builder@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          targetPlatform: Android
      
      - name: Get build date
        run: echo "BUILD_DATE=$(date +'%d-%m_%H-%M')" >> $GITHUB_ENV

      - name: Upload Build artifact
        uses: actions/upload-artifact@v4
        with:
          name: Build-Android-${{ env.BUILD_DATE }}
          path: build/Android
