name: Build to WebGL

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/workflows/**'
      - 'docs/**'
  pull_request:
    branches:
      - main
permissions:
  contents: write

jobs:
  buildWebGL:
    name: Build WebGL
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true

      - name: Cache Unity Library
        uses: actions/cache@v3
        with:
          path: Library
          key: Library-WebGL
          restore-keys: Library-WebGL

      - name: Free disk space
        uses: jlumbroso/free-disk-space@v1.3.1

      - name: Build WebGL
        uses: game-ci/unity-builder@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          targetPlatform: WebGL

      - name: Get build date
        run: echo "BUILD_DATA=$(date +'%d-%m/%H:%M')" >> $GITHUB_ENV

      - name: Upload Build artifact
        uses: actions/upload-artifact@v4
        with:
          name: Build-WebGL-${{ env.BUILD_DATE }}
          path: build/WebGL

      - name: Move build to docs
        run: |
          ls
          cp -r build/WebGL/WebGL/* docs/
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add docs/
          git commit -m "Update docs"
          git push


