name: Build WebGL and Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/workflows/**'
  pull_request:
    branches:
      - main

jobs:
  buildWebGL:
    name: Build WebGL
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true

      - name: Cache Unity Library
        uses: actions/cache@v3
        with:
          path: Library
          key: Library-WebGL
          restore-keys: Library-WebGL

      - name: Free disk space
        uses: jlumbroso/free-disk-space@v1.3.1

      - name: Build WebGL
        uses: game-ci/unity-builder@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          targetPlatform: WebGL
          buildPath: build/WebGL
          allowDirtyBuild: true

      - name: Upload WebGL artifact
        uses: actions/upload-artifact@v4
        with:
          name: Build-WebGL
          path: build/

      - name: Prepare clean temp
        run: |
          rm -rf webRoot
          mkdir webRoot
          cp -r build/WebGL/* webRoot

      - name: Deploy to webDemo branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./webRoot
          publish_branch: webDemo
          force_orphan: true
